<p>Argumentos: {{this.arguments}}</p>
<p>Nombre de la plataforma:{{this.system}}</p>
<p>Version de Node:{{this.version}}</p>
<p>Memoria total reservada: {{this.memory}}</p>
<p>Path de ejecución: {{this.pathEjection}}</p>
<p>Process id: {{this.process}}</p>
<p>Cantidad de procesadores: {{this.procesadores}}</p>
<p>Carpeta del proyecto: {{this.carp}}</p>